@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
}
.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px
    height: 250px;
}
.flex-container {
  display: flex;
  height: 300px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flex-container > div1 {
  background-color: white;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.flex-container > div2 {
  background-color: white;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  font-size: 20px;
}
.flex-container > div3 {
  background-color: white;
  margin: 5px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.flex-container > div4 {
  background-color: #E0FFFF;
  border: 2px solid #4169E1;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 400px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
.flex-container > div5 {
  background-color: white;
  margin: 5px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
    font-weight: bold;
}
.flex-container2 {
  display: flex;
  justify-content: flex-start;
}
.flex-container2 > div6 {
  margin: 5px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
  width: 200px;
  color: #4169E1;
}
.flex-container2 > div7 {
background-color: #4169E1;
  border: 2px solid #4169E1;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 100px;
  margin: 5px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-align: center;
}
